apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vllm-models
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/graz-dev/llms-on-kubernetes
    targetRevision: HEAD
    path: vllm-models/helm-chart
    helm:
      values: |
        models:
          - huggingfaceId: "leon-se/gemma-3-27b-it-FP8-Dynamic"
            modelName: "gemma-3-27b-it"
            gpuRequestCount: 2
            replicas: 1
            pvcSize: "40Gi"
          - huggingfaceId: "cpatonn/Qwen3-VL-30B-A3B-Instruct-AWQ-8bit"
            modelName: "qwen3-vl-30b"
            gpuRequestCount: 2
            replicas: 1
            pvcSize: "45Gi"
        image:
          repository: vllm/vllm-openai
          tag: "v0.11.0"
          pullPolicy: IfNotPresent
        storage:
          className: "gp2"
  destination:
    server: https://kubernetes.default.svc
    namespace: vllm-models
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true